@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.slidebox {
  width: 100%;
  height: 46rem;
}
.img-container {
  display: flex;
  justify-content: center;
}
.slideimg {
  position: relative;
  width: 100%;
  height: 46rem;
  opacity: 100%;
  border-radius: 23px;
  filter: brightness(50%);
  object-fit: cover;
  object-position: 0 calc(50% + -35%);
}
.image_title {
  font-family: "Do Hyeon", sans-serif;
  position: absolute;
  color: #fff;
  background-color: rgba(153, 0, 0, 1);
  border-radius: 5px;
  z-index: 100%;
  line-height: 3.5rem;
  top: 0;
  margin: 17rem;
  font-size: 4.2rem;
  padding: 1rem;
  white-space: nowrap;
  /* padding: 10px 30px;
  top: 1px;
  margin: 1rem 4rem auto auto;
  font-size: 5rem;
  right: 10px; */
}
.image-overview {
  font-family: "Do Hyeon", sans-serif;
  position: absolute;
  color: #fff;
  /* background-color: gray; */
  z-index: 100%;
  line-height: 30px;
  font-size: 22px;
  margin: 23rem;
  width: 60rem;
  /* padding: 5px 20px;
  margin: 32rem 30rem 30rem 23rem;
  top: 1px;
  text-align: left;
  width: 48rem; */
}
.slidelist {
  position: relative;
}
.opacity {
  opacity: 1 !important;
}
.slideitem {
  position: absolute;
  opacity: 0;
  width: 100%;
}
ul,
li {
  margin: 0;
  list-style: none;
  padding-left: 0;
}